.DS_Store
DerivedData/ModuleCache.noindex
DerivedData/VACDevice/Logs
DerivedData/VACDevice/Build/Intermediates.noindex
DerivedData/VACDevice/OpenQuickly-ReferencedFrameworks.index-v1
DerivedData/VACDevice/Index
DerivedData/VACDevice/info.plist
DerivedData/VACDevice/TextIndex
DerivedData/VACDevice/scm.plist
